version: "3.6"

services:
  ethtx_ce:
    image: 'ethtx_ce:${TAG-latest}'
    env_file:
      - .env
    depends_on:
      - mongo
    build:
      context: .
      dockerfile: Dockerfile

  mongo:
    image: mongo
    environment:
      - MONGO_INITDB_DATABASE=${MONGODB_DB}

  mongo-express:
    image: mongo-express
    environment:
      - ME_CONFIG_MONGODB_SERVER=mongo
      - ME_CONFIG_MONGODB_PORT=27017
      - ME_CONFIG_MONGODB_ENABLE_ADMIN=false
      - ME_CONFIG_MONGODB_AUTH_DATABASE=${MONGODB_DB}
      - ME_CONFIG_BASICAUTH_USERNAME=${MONGOEXPRESS_LOGIN}
      - ME_CONFIG_BASICAUTH_PASSWORD=${MONGOEXPRESS_PASSWORD}
    depends_on:
      - mongo
