[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
web3 = "*"
pymongo = {extras = ["srv"],version = "*"}
python-dotenv = "*"
pytest = "*"
flask = "*"
gunicorn = "*"
werkzeug = "*"
requests = "*"
marshmallow = "*"
jsonpickle = "*"
hexbytes = "*"
ethereum = "*"
pre-commit = "*"
mongoengine = "*"
mongomock = "*"
flask-httpauth = "*"
ethtx = ">=0.1.5,<0.2.0"

[dev-packages]
black = "==19.3b0"
coverage = "*"

[requires]
python_version = "3.8"
