[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ethtx = "==0.3.14"
web3 = "==5.26.0"
python-dotenv = "*"
flask = ">=2.0.2"
werkzeug = ">=2.0.2"
gunicorn = {version = ">=20.1.0", extras = ["gthread"]}
flask-httpauth = ">=4.5.0"
gitpython = ">=3.1.24"
jsonpickle = ">=2.0.0"

[dev-packages]
black = "==22.3.0"
pytest = ">=6.2.5"
pytest-cov =">=3.0.0"
pytest-mock =">=3.6.1"
pre-commit = "*"

[requires]
python_version = "3.9"
